@import "tailwindcss";

:root {
  --background: #805127;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide LiveKit Chat default header */
.lk-chat-header {
  display: none !important;
}

/* Remove outline on chat input focus */
.lk-chat input:focus {
  outline: none !important;
  box-shadow: none !important;
}
